/* navbar */
.navbar {
  background-color: #1b1b1b !important;
}

.navbar-brand {
  letter-spacing: 3px;
}

.codersCharacter {
  color: #c8c8c8 !important;
  font-size: 25px;
}

.xCharacter {
  font-size: 30px;
  color: #bf3419;
}

.nav-link {
  color: #ffffff !important;
  border-radius: 3px;
}

.btn-navbar {
  border-color: #ffffff !important;
  background-color: #bbbbbb !important;
}

.navbar .nav-link:hover {
  background-color: #aaaaaa;
}

/* intro section */
.intro-section {
  background-image: url('/images/background.jpg');
  background-size: cover;
  background-position: center;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-section .title-heading {
  display: inline-block;
  color: #ffffff;
}

/* products */

.products-wrapper .product-item .desription {
  font-size: 14px;
}
