extends ./layouts/common.pug
block content
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container
      a.navbar-brand.codersCharacter(href='/')= name
          span.xCharacter X
      button.btn-navbar.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarRes')
        span.navbar-toggler-icon
      #navbarRes.collapse.navbar-collapse
        ul.navbar-nav.mx-auto.text-center
          li.navbar-item
            a.nav-link(href="/users") Users list
  .container-fluid.intro-section 
