extends ../layouts/common.pug

block content
    h1 Create
    form(action="/users/create" method="POST")
        label name: 
        br
        input(type="text" name="name")
        button(class="btn btn-success ml-2") Create