extends ../layouts/common.pug

block content
    .container.pt-5
        h1 Create
        form(action="/users/create" method="POST")
            .form-group
                label name: 
                input.form-control.w-auto(type="text" name="name")
            .form-group
                label Phone: 
                input.form-control.w-auto(type="text" name="phone")
            button.btn.btn-success Create