h1 users
form(action="/users/search" method="GET")
    input(type="text" name="name" value=nameSearch)
    button Search

ul 
    each user in users 
       li
            span= user.name
            span &nbsp
            a(href='users/' + user.id) view

br
a(href="/users/create") create
