extends ../layouts/common.pug

block content
    .container.pt-3
        h1 users
        form.d-flex(action="/users/search" method="GET")
            input.form-control.w-auto(type="text" name="input" value=valueInput placeholder="search name or phone...")
            button(class="btn btn-success ml-2") Search

        table.table.mt-5
            tr
                th Name
                th Phone
                th Action
            each user in users 
                tr
                    td= user.name
                    td= user.phone
                    td
                        a.btn.btn-info(href='users/' + user.id) view

        br
        a.btn.btn-info(href="/users/create" type="button") create
